:root{
    --main-color: #A06056;
    --text-color: #706458;
    --linear-gradient: rgba(112, 100, 88, 0.1);
    --black-color: #121212;
    --white-color: #FFFFFF;
    --button-color: #534B42;
    --main-colortwo: #a82d49;
    --text-colorr: rgb(255, 255, 255, 0.3);
    --grey: #D9D9D9;

}