*   {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }


    html{
        scroll-behavior: smooth;
    }
    /* first section starts here  */
    
    .firstsection{
        /* border: 3px solid tomato; */
        height: 480px;
        width: 100%;
        display: flex;
    }
    .left{
        /* border: 3px solid blue; */
        width: 50%;
        /* height: 200px; */
        background: var( --linear-gradient);
    }
    .holder{
        display: flex;
        justify-content: space-evenly;
        padding-top: 20px;
    }
    .holder h3{
        padding-top: 10px;
        font-size: 34px;
        color: var(--main-color);
        line-height: 25px;
        letter-spacing: 2px;
        text-align: center;
        font-family: 'Merriweather', serif;
    }
    .link-container ul{
        display: flex;
        font-family: 'Varta', sans-serif;
    }
    .link-container ul li{
        list-style: none;
        margin-right: 8px;
        color: var(--text-color);
        font-size: 18px;
        line-height: 25px;
    }
    .link-container li:hover{
        border: 2px solid var(--main-color);
    }
    .link-container ul a{
        padding: 15px 10px;
        display: block;
        text-decoration: none;
        color: var(--text-color);
    }
    .mobile{
        display: none;
        /* height: 450px; */
        background: url("./Image/header.png");
        background-size: cover;
        background-position: bottom left;
        padding-bottom: 30px;
    }
    .nav-brand{
        /* border: 3px solid blue; */
        height: 50px;
        width: 50%;
        color: var(--white-color);
        font-size: 30px;
        padding-left: 25px;
        padding-top: 20px;
    }
    .hamburger-container{
        height: 30px;
        width: 30px;
        margin-left: 70px;
        margin-top: 30px;
        display: flex;
        align-items: center;
        z-index: 100;
    }
    .menu{
        width: 100%;
        background: var(--white-color);
        height: 2px;
        position: relative;
        
    }
    .menu::before{
        content: '';
        background: var(--text-colorr);
        width: 100%;
        height: 4px;
        position: absolute;
        transform: translateY(-10px);
        /* transition: all 1s ease; */
        transition: all 0.4s ease-out;
    }
    .menu::after{
        content: '';
        background: transparent;
        width: 100%;
        height: 4px;
        position: absolute;
        transform: translateY(-10px);
        /* transition: all 1s ease; */
        transition: all 0.4s ease-out;
    }
    .showburger .menu{
        background: transparent;
    }
    .showburger .menu::before{
        background: var(--grey);
        transform: rotate(45deg);
        transition: all 1s ease;
    }
    .showburger .menu::after{
        transform: rotate(-45deg);
        background: var(--grey);
        transition: all 1s ease;
    }
    .mobilehead{
        display: none;
        /* position: fixed;
        width: 100%;
        margin: 0 auto; */
    }
    .mobiletext{
        /* border: 3px solid greenyellow; */
        padding-top: 65px;
        width: 90%;
        margin: 0 auto;
    }
    .mobiletext li{
        list-style: none;
        color: var(--white-color);
        font-family: 'Varta', sans-serif;
        /* padding-top: 50px; */
        font-size: 14px;
        text-align: center;
    }
    .mobiletext h4{
        color: var(--white-color);
        font-family: 'Merriweather', serif;
        font-weight: lighter;
        text-align: center;
        padding-top: 12px;
        font-size: 25px;
    }
    .mobiletext p{
        color: var(--white-color);
        font-family: 'Varta', sans-serif;
        text-align: center;
        padding-top: 15px;
        font-size: 15px;
        padding-bottom: 20px;
    }
    .mobilelast{
        border: 2px solid var(--white-color);
        height: 40px;
        width: 40px;
        border-radius: 50%;
        text-align: center;
        color: var(--white-color);
        font-size: 20px;
        padding-top: 8px;
        margin: 0 auto;
    }
    .mobilelinkscontainer{
        display: none;
        transform: translateX(102%);
        transition: all 1s ease;
        top: 0;
        right: 0;
        z-index: 3;
        padding-top: 20p0x;
    }
    .mobilelinkscontainer.is-active{
        display: block;
        transition: all 1s ease;
    }
    .showmobilelinks{
        /* display: block; */
        transform: translateX(0);
    }
    .mobilelinkscontent ul{
        list-style: none;
        font-family: 'Varta', sans-serif;
    }
    .mobilelinkscontent a{
        color: var(--text-color);
        display: block;
        background: var(--grey);
        text-decoration: none;
        padding: 10px 20px;
    }
    .mobilelinkscontent a:hover{
        background: transparent;
        color: var(--white-color);
    }
    
    .below{
        color: var(--main-color);
        padding-top: 60px;
        line-height: 20px;
        font-size: 14px;
        font-family: 'Varta', sans-serif;
        letter-spacing: 1px;
        padding-left: 80px;
    }
    .inside h3{
        font-family: 'Merriweather', serif;
        font-size: 35px;
        color: var(--main-color);
        font-weight: lighter;
        padding-left: 75px;
        padding-top: 20px;
    }
    .bottom p{
        font-family: 'Varta', sans-serif;
        color: var(--text-color);
        padding-left: 75px;
        padding-top: 15px;
    }
    .last{
        border: 2px solid var(--main-color);
        height: 40px;
        width: 40px;
        margin-top: 20px;
        margin-left: 75px;
        border-radius: 50%;
        text-align: center;
        color: var(--main-color);
        font-size: 20px;
        padding-top: 8px;
    }
    .right{
        /* border: 3px solid purple; */
        width: 50%;
        /* height: 200px; */
        background: url("./Image/header.png");
        background-size: cover;
        background-position: bottom left;
        display: flex;
        justify-content: flex-end;
        padding-right: 30px;
    }
    .logo{
        border: 2px solid var(--white-color);
        border-radius: 50%;
        color: var(--white-color);
        font-size: 20px;
        text-align: center;
        margin-top: 30px;
        width: 45px;
        height: 45px;
        padding-top: 10px;
        display: block;
    }
    /* first section ends here  */

    /* second section starts here  */
    .secondsection{
        /* border: 3px solid red; */
        display: flex;
        background: var(--linear-gradient);
        font-family: 'Varta', sans-serif;
    }
    .secondleft{
        /* border: 3px solid blue; */
        width: 50%;
    }
    .secondleft h3{
        color: var(--text-color);
        font-size: 30px;
        padding-top: 50px;
        padding-left: 75px;
        font-family: 'Merriweather', serif;
        line-height: 40px;
        font-weight: lighter;
    }
    .two{
        display: flex;
    }
    .two li{
        margin: 0 auto;
        width: 90%;
        font-family: 'Karla', sans-serif;
        color: var(--main-color);
        list-style: none;
        padding-left: 35px;
        padding-top: 20px;
        font-size: 17px;
    }
    .icon{
        text-align: center;
        padding-top: 5px;
        /* border: 3px solid blue; */
        color: var(--main-color);
    }
    .secondright{
        /* border: 3px solid green; */
        width: 50%;
        /* display: flex;    */
        justify-content: space-evenly;
        padding-top: 25px;
    }
    .helper{
        /* border: 3px solid red; */
        display: flex;
        justify-content: space-evenly;
        flex-wrap: wrap;
    }
    .sectionone{
        padding-top: 25px;
        padding-right: 25px;
        /* border: 3px solid pink; */
    }
    .sectionone h4{
        color: var(--main-color);
    }
    .sectionone p{
        color: var(--text-color);
    }
    .sectiontwo{
        padding-right: 25px;
        padding-top: 25px;
    }
    .sectiontwo h4{
        color: var(--main-color);
    }
    .sectiontwo p{
        color: var(--text-color);
    }
    /* second section ends here  */

    /* thrid section starts here  */
.thirdsection{
    /* border: 3px solid brown; */
    padding-top: 35px;
    padding-bottom: 60px;
}
.third{
    padding-left: 75px;
}
.third h3{
    font-family: 'Merriweather', serif;
    color: var(--black-color);
    font-weight: lighter;
    font-size: 30px;
}
.mainthird{
    display: flex;
    
    /* justify-content: space-evenly; */
    
}
.belowthird{
    display: block;
    justify-content: space-evenly;
    padding-top: 15px;
    font-family: 'Varta', sans-serif;
    /* align-items: center; */
}

.belowthird p{
    color: var(--text-color);
    padding-left: 75px;
}
.belowthird li{
    color: var(--main-color);
    list-style: none;
    padding-left: 75px;
    padding-top: 5px;
    font-size: 17px;
}
.icontwo{
    padding-top: 9px;
    padding-left: 5px;
    color: var(--main-color);
}
.final{
    text-align: center;
    align-items: center;
    margin: 0 auto;
    justify-content: flex-end;
    width: 50%;
    /* border: 3px solid tomato; */
    display: flex;
    font-family: 'Karla', sans-serif;
}
.final input{
    margin-right: 15px;
    border: transparent;
    width: 250px;
    outline: none;
    padding: 12px 20px 12px 20px;
    /* height: 20px; */
}
.btn{
    padding: 12px 20px 12px 20px;
    text-align: center;
    background: var(--text-color);
    color: var(--white-color);
}
.btn:hover{
    background: var(--black-color);
    color: goldenrod;
    transition: all 0.5s ease;
}
    /* thrid section ends here  */

    /* fourth section starts here  */
.fourthsection{
    /* border: 3px solid tomato; */
    width: 100%;
    margin: 0 auto;
    padding-left: 75px;
}
.fourthsection img{
    margin-right: 10px;
}
/* fourth section ends here  */

/* fifth section starts here  */
.fifthsection{
    /* border: 3px solid red; */
    padding-top: 30px;
    display: flex;
    justify-content: space-around;
    padding-bottom: 50px;
}
.fifthsection h3{
    font-family: 'Merriweather', serif;
    color: var(--button-color);
    font-size: 30px;
    font-weight: lighter;
}
.fifthsection p{
    font-family: 'Varta', sans-serif;
    color: var(--text-color);
}
.latest{
    /* border: 2px solid var(--main-color); */
    display: flex;
}
.arrowleft{
    border: 2px solid var(--main-color);
    height: 40px;
    width: 40px;
    border-radius: 50%;
    margin-right: 12px;
    text-align: center;
    padding-top: 10px;
    color: var(--main-color);
    cursor: pointer;
}
.arrowright{
    border: 2px solid var(--main-color);
    height: 40px;
    width: 40px;
    border-radius: 50%;
    text-align: center;
    padding-top: 10px;
    color: var(--main-color);
    cursor: pointer;
}
/* fifth section ends here  */

/* mobile close section starts here  */
.mobileclose{
    display: none;
    width: 100%;
    margin: 0 auto;
    padding-left: 50px;
}
.mobileclose h3{
    font-family: 'Merriweather', serif;
    color: var(--button-color);
    font-size: 30px;
    font-weight: lighter;
}
.mobileclose p{
    padding-top: 15px;
    font-family: 'Varta', sans-serif;
    color: var(--new);
}
/* mobile close section ends here  */

/* mobile end starts here  */
.mobileend{
    display: none;
    width: 100%;
    /* margin: 0 auto; */
    /* border: 3px solid tomato; */
    padding-left: 35px;

}
.mobileend p{
    padding-bottom: 15px;
    font-family: 'Lato', sans-serif;
}
.chair{
    margin-top: 35px;
    background: url("./Image/slide1.png");
    background-size: cover;
    width: 90%;
    height: 250px;
    margin-bottom: 20px;
    /* margin-right: 15px; */
}
.cooked{
    background: url("./Image/slide2.png");
    background-size: cover;
    background-position: bottom right;
    width: 90%;
    height: 250px;
    margin-bottom: 20px;
}
.living{
    background: url("./Image/slide3png.png");
    background-size: cover;
    background-position: bottom left;
    width: 90%;
    height: 250px;
    margin-bottom: 20px;
}
.tables{
    background: url("./Image/slide4.png");
    background-size: cover;
    background-position: bottom right;
    width: 90%;
    height: 250px;
    margin-bottom: 20px;
}
/* mobile end ends here  */
.sixthsection{
    background: var(--background);
}
.sixth{
    padding-top: 60px;
    display: flex;
    width: 90%;
    margin: 0 auto;
}
.sixth .un{
    width: 70%;
    display: flex;
    justify-content: space-evenly;
}
.un h3{
    color: var(--button-color);
    font-size: 40px;
    font-family: 'Merriweather', serif;
    /* padding-left: 75px; */
}
.list{
    color: var(--button-color);
    font-size: 25px;
    font-family: 'Varta', sans-serif;
   
}
.list h4{
    padding-bottom: 10px;
}
.list li{
    list-style: none;
    font-size: 18px;
    line-height: 35px;
    font-family:'Varta', sans-serif ;
}

.deux{
    padding-left: 40px;
}
.deux h4{
    color: var(--button-color);
    font-size: 25px;
    font-family: 'Varta', sans-serif;
    padding-bottom: 25px;
}
.deux p{
    color: var(--button-color);
    font-family: 'Varta', sans-serif;
    padding-top: 18px;
    font-size: 16px;
}
.deux .colour{
    color: var(--main-color);
    font-family:'Karla', sans-serif ;
}
.deux .time{
    padding-top: 8px;
}

.emblem{
    padding-top: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.emblem .border{
    margin-right: 15px;
    padding: 8px 8px;
    font-size: 22px;
    border: 3px solid var(--main-color);
    border-radius: 50%;
    color: var(--button-color);
}
.emblem .border:hover{
    color: var(--main-colortwo);
    transition: all 0.3s ease;
    background: var(--black-color);
}

footer{
    font-family: 'Varta', sans-serif;
    background: var(--background);
    padding-bottom: 60px;
    
}
footer .footertext{
    padding-top: 15px;
    width: 90%;
    margin: 0 auto;
    display: flex;
    color: var(--text-color);
    justify-content: space-between;

}
footer .douze{
    display: flex;  
}
footer .douze li{
    margin-right: 18px;
    list-style: none;
}

.mobilesixthsection{
    display: none;
    background: var(--background);
    padding-top: 40px;
}
.mobilesixthsection h3{
    width: 90%;
    margin: 0 auto;
    color: var(--button-color);
    font-size: 32px;
    font-family: 'Merriweather', serif;
    text-align: center;
}

.mobilesixth{
    font-family: 'Varta', sans-serif;
    padding-left: 20px;
    width: 90%;
    margin: 0 auto;
}
.mobilesixth h4{
    color: var(--black-color);
    font-size: 22px;
    padding-bottom: 10px;
    padding-top: 15px;
}
.mobilesixth li{
    line-height: 28px;
    list-style: none;
    color: var(--text-color);
}
.mobilesixth h5{
    color: var(--button-color);
    font-size: 20px;
    padding-top: 30px;
    padding-bottom: 20px;
}
.mobilesixth p{
    padding-top: 20px;
    font-size: 15px;
    color: var(--latest);
    padding-bottom: 15px;
}
.mobilecolour{
   color: var(--main-color);
}
.fut{
    background: var(--background);
}
.mobilefooter{
    display: none;
    width: 90%;
    margin: 0 auto;
    /* padding-bottom: 55px;  */
}
.mobilefooter li{
    list-style: none;
    color: var(--latest);
    /* margin-left: 5px; */
}
.mobilefooter .flex{
    width: 90%;
    margin: 0 auto;
    padding-top: 20px;
    display: flex;
}
.mobilefooter .spacing{
    padding-left: 40px;
}
.mobilefooter .road{
    color: var(--latest);
    width: 90%;
    padding-top: 20px;
    margin: 0 auto;
}
.mobilefooter .end{
    padding-top: 30px;
    color: var(--latest);
    padding-left: 10px;
    padding-bottom: 40px;
}

