*   {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }


    html{
        scroll-behavior: smooth;
    }
    /* first section starts here  */
    
    .firstsection{
        /* border: 3px solid tomato; */
        height: 480px;
        width: 100%;
        display: flex;
    }
    .left{
        /* border: 3px solid blue; */
        width: 50%;
        /* height: 200px; */
        background: var( --linear-gradient);
    }
    .holder{
        display: flex;
        justify-content: space-evenly;
        padding-top: 20px;
    }
    .holder h3{
        padding-top: 10px;
        font-size: 34px;
        color: var(--main-color);
        line-height: 25px;
        letter-spacing: 2px;
        text-align: center;
        font-family: 'Merriweather', serif;
    }
    .link-container ul{
        display: flex;
        font-family: 'Varta', sans-serif;
    }
    .link-container ul li{
        list-style: none;
        margin-right: 8px;
        color: var(--text-color);
        font-size: 18px;
        line-height: 25px;
    }
    .link-container li:hover{
        border: 2px solid var(--main-color);
    }
    .link-container ul a{
        padding: 15px 10px;
        display: block;
        text-decoration: none;
        color: var(--text-color);
    }
    .mobile{
        display: none;
        /* height: 450px; */
        background: url("./Image/header.png");
        background-size: cover;
        background-position: bottom left;
        padding-bottom: 30px;
    }
    .nav-brand{
        /* border: 3px solid blue; */
        height: 50px;
        width: 50%;
        color: var(--white-color);
        font-size: 30px;
        padding-left: 25px;
        padding-top: 20px;
    }
    .hamburger-container{
        height: 30px;
        width: 30px;
        margin-left: 70px;
        margin-top: 30px;
        display: flex;
        align-items: center;
        z-index: 100;
    }
    .menu{
        width: 100%;
        background: var(--white-color);
        height: 2px;
        position: relative;
        
    }
    .menu::before{
        content: '';
        background: var(--text-colorr);
        width: 100%;
        height: 4px;
        position: absolute;
        transform: translateY(-10px);
        /* transition: all 1s ease; */
        transition: all 0.4s ease-out;
    }
    .menu::after{
        content: '';
        background: transparent;
        width: 100%;
        height: 4px;
        position: absolute;
        transform: translateY(-10px);
        /* transition: all 1s ease; */
        transition: all 0.4s ease-out;
    }
    .showburger .menu{
        background: transparent;
    }
    .showburger .menu::before{
        background: var(--grey);
        transform: rotate(45deg);
        transition: all 1s ease;
    }
    .showburger .menu::after{
        transform: rotate(-45deg);
        background: var(--grey);
        transition: all 1s ease;
    }
    .mobilehead{
        display: none;
        /* position: fixed;
        width: 100%;
        margin: 0 auto; */
    }
    .mobiletext{
        /* border: 3px solid greenyellow; */
        padding-top: 65px;
        width: 90%;
        margin: 0 auto;
    }
    .mobiletext li{
        list-style: none;
        color: var(--white-color);
        font-family: 'Varta', sans-serif;
        /* padding-top: 50px; */
        font-size: 14px;
        text-align: center;
    }
    .mobiletext h4{
        color: var(--white-color);
        font-family: 'Merriweather', serif;
        font-weight: lighter;
        text-align: center;
        padding-top: 12px;
        font-size: 25px;
    }
    .mobiletext p{
        color: var(--white-color);
        font-family: 'Varta', sans-serif;
        text-align: center;
        padding-top: 15px;
        font-size: 15px;
        padding-bottom: 20px;
    }
    .mobilelast{
        border: 2px solid var(--white-color);
        height: 40px;
        width: 40px;
        border-radius: 50%;
        text-align: center;
        color: var(--white-color);
        font-size: 20px;
        padding-top: 8px;
        margin: 0 auto;
    }
    .mobilelinkscontainer{
        display: none;
        transform: translateX(102%);
        transition: all 1s ease;
        top: 0;
        right: 0;
        z-index: 3;
        padding-top: 20px;
    }
    .mobilelinkscontainer.is-active{
        display: block;
        transition: all 1s ease;
    }
    .showmobilelinks{
        /* display: block; */
        transform: translateX(0);
    }
    .mobilelinkscontent ul{
        list-style: none;
        font-family: 'Varta', sans-serif;
    }
    .mobilelinkscontent a{
        color: var(--text-color);
        display: block;
        background: var(--grey);
        text-decoration: none;
        padding: 10px 20px;
    }
    .mobilelinkscontent a:hover{
        background: transparent;
        color: var(--white-color);
    }
    
    .below{
        color: var(--main-color);
        padding-top: 60px;
        line-height: 20px;
        font-size: 14px;
        font-family: 'Varta', sans-serif;
        letter-spacing: 1px;
        padding-left: 80px;
    }
    .inside h3{
        font-family: 'Merriweather', serif;
        font-size: 35px;
        color: var(--main-color);
        font-weight: lighter;
        padding-left: 75px;
        padding-top: 20px;
    }
    .bottom p{
        font-family: 'Varta', sans-serif;
        color: var(--text-color);
        padding-left: 75px;
        padding-top: 15px;
    }
    .last{
        border: 2px solid var(--main-color);
        height: 40px;
        width: 40px;
        margin-top: 20px;
        margin-left: 75px;
        border-radius: 50%;
        text-align: center;
        color: var(--main-color);
        font-size: 20px;
        padding-top: 8px;
    }
    .right{
        /* border: 3px solid purple; */
        width: 50%;
        /* height: 200px; */
        background: url("./Image/header.png");
        background-size: cover;
        background-position: bottom left;
        display: flex;
        justify-content: flex-end;
        padding-right: 30px;
    }
    .logo{
        border: 2px solid var(--white-color);
        border-radius: 50%;
        color: var(--white-color);
        font-size: 20px;
        text-align: center;
        margin-top: 30px;
        width: 45px;
        height: 45px;
        padding-top: 10px;
        display: block;
    }
    /* first section ends here  */

    /* second section starts here  */
    .secondsection{
        /* border: 3px solid red; */
        display: flex;
        background: var(--linear-gradient);
        font-family: 'Varta', sans-serif;
    }
    .secondleft{
        /* border: 3px solid blue; */
        width: 50%;
    }
    .secondleft h3{
        color: var(--text-color);
        font-size: 30px;
        padding-top: 50px;
        padding-left: 75px;
        font-family: 'Merriweather', serif;
        line-height: 40px;
        font-weight: lighter;
    }
    .two{
        display: flex;
    }
    .two li{
        margin: 0 auto;
        width: 90%;
        font-family: 'Karla', sans-serif;
        color: var(--main-color);
        list-style: none;
        padding-left: 35px;
        padding-top: 20px;
        font-size: 17px;
    }
    .icon{
        text-align: center;
        padding-top: 5px;
        /* border: 3px solid blue; */
        color: var(--main-color);
    }
    .secondright{
        /* border: 3px solid green; */
        width: 50%;
        /* display: flex;    */
        justify-content: space-evenly;
        padding-top: 25px;
    }
    .helper{
        /* border: 3px solid red; */
        display: flex;
        justify-content: space-evenly;
        flex-wrap: wrap;
    }
    .sectionone{
        padding-top: 25px;
        padding-right: 25px;
        /* border: 3px solid pink; */
    }
    .sectionone h4{
        color: var(--main-color);
    }
    .sectionone p{
        color: var(--text-color);
    }
    .sectiontwo{
        padding-right: 25px;
        padding-top: 25px;
    }
    .sectiontwo h4{
        color: var(--main-color);
    }
    .sectiontwo p{
        color: var(--text-color);
    }
    /* second section ends here  */

    /* thrid section starts here  */
.thirdsection{
    /* border: 3px solid brown; */
    padding-top: 35px;
    padding-bottom: 60px;
}
.third{
    padding-left: 75px;
}
.third h3{
    font-family: 'Merriweather', serif;
    color: var(--black-color);
    font-weight: lighter;
    font-size: 30px;
}
.mainthird{
    display: flex;
    
    /* justify-content: space-evenly; */
    
}
.belowthird{
    display: block;
    justify-content: space-evenly;
    padding-top: 15px;
    font-family: 'Varta', sans-serif;
    /* align-items: center; */
}

.belowthird p{
    color: var(--text-color);
    padding-left: 75px;
}
.belowthird li{
    color: var(--main-color);
    list-style: none;
    padding-left: 75px;
    padding-top: 5px;
    font-size: 17px;
}
.icontwo{
    padding-top: 9px;
    padding-left: 5px;
    color: var(--main-color);
}
.final{
    text-align: center;
    align-items: center;
    margin: 0 auto;
    justify-content: flex-end;
    width: 50%;
    /* border: 3px solid tomato; */
    display: flex;
    font-family: 'Karla', sans-serif;
}
.final input{
    margin-right: 15px;
    border: transparent;
    width: 250px;
    outline: none;
    padding: 12px 20px 12px 20px;
    /* height: 20px; */
}
.btn{
    padding: 12px 20px 12px 20px;
    text-align: center;
    background: var(--text-color);
    color: var(--white-color);
}
.btn:hover{
    background: var(--black-color);
    color: goldenrod;
    transition: all 0.5s ease;
}
    /* thrid section ends here  */