@media screen and (max-width:851px) {
    .firstsection{
        display: none;
    }
    .mobile{
        display: block;
    }
    .mobilehead{
        display: flex;
        justify-content: space-between;
        padding-left: 15px;
        padding-right: 15px;
    }
    .secondsection{
        display: block;
    }
    .secondleft {
        width: 90%;
        margin: 0 auto;
        /* border: 3px solid black; */
        text-align: left;
    }
    .secondleft h3{
        padding-left: 20px;
    }
    .two{
        padding-left: 0;
        /* display: flex; */
        text-align: left;
        /* margin: 0 auto; */
        width: 90%;
        /* border: 3px solid tomato; */
    }
    .two li{
        margin-left: 0;
        padding-left: 20px;
        /* align-items: center; */
       
    }
    .icon{
        padding-left: 0;
    }
    .secondright{
        width: 90%;
    }
    .thirdsection{
        padding-bottom: 20px;
    }
    .third{
        display: none;
    }
    .belowthird p{
        display: none;
    }
    .belowthird{
        display: none;
        padding-top: 8px;
    }
    .belowthird li{
        list-style: none;
        padding-bottom: 10px;
        padding-left: 50px;
    }
    .btn{
        text-align: center;
        width: 90%;
        padding: 12px 120px 12px 120px;
        margin-left: 22px;
        margin-bottom: 20px;
    }
    .final{
        text-align: left;
        display: block;
        width: 90%;
    }
    .final input{
        margin-bottom: 15px;
        margin-left: 23px;
        transition: all 1s ease;
    }
    .final input:hover{
        background: var(--black-color);
        color: goldenrod;
        width: 300px;
    }
    .fourthsection{
        display: none;
    }
    .fifthsection{
        display: none;
    }
    .mobileclose{
        display: block;
    }
    .mobileend{
        display: block;
    }
}